<div class="ekart--search--product">
    <!-- bad practice --> <!-- property binding, event binding -->
    <!-- <input class="ekart-search-product-input" [value]="searchText" (input)="searchItem($event)"> -->

    <!-- good practice --> <!-- two way data binding -->
    <input class="ekart-search-product-input" [(ngModel)]="searchText">
    <!-- Exmaple of attribute directive -->
    <button [ngClass]="{'btn' : true,'btn-search': searchText,'btn-search-disabled' : !searchText}"
        [disabled]="!searchText">Search</button>
</div>
<div class="ekart-search-result-for">
    <!-- Example of structural directive(ngIf) -->
    <p *ngIf="searchText">
        <strong>Search result for:</strong> {{ searchText }} <!-- string interpolation -->
    </p>
</div>